<h1>This is the transfer market.</h1>
<p>Agents of different players all around Europe can profile their players on this site.</p>
<p>Various clubs can enquire about the future of a player by talking to the agent.</p>
<h4>Note: Please proceed only under the guidance of official FIFA rules</h4>
