<% if agent_signed_in?%>
<h3><%= link_to "Your Players", players_agent_path(current_agent) %></h3>
<%end%>

</br>
</br>
<h2>All Players:</h2>
<% @players.each do |player|%>
    <%= link_to player.name, player_path(player)%>
    </br>
<%end%>
